@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 0, 0, 0;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on, "ss04" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-neutral-800;
  }
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}

.project-item:hover img {
  transform: scale(1.03);
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.pulse-overlay {
  animation: pulse 2s infinite;
}
